:root {
  --brand-color: #4d5ae5;
  --navyblue: #2e2f42;
  --bcg: #fff;
  --body-text: #434455;
  --pressed-state: #404bbf;
  --footer-light: #f4f4fd;
}

/* Global-styles */
body {
  font-family: Roboto, sans-serif;
  color: var(--body-text);
  background-color: var(--bcg);
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Studio */
/* Header-styles */
.header {
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  color: var(--brand-color);
  font-size: 18px;
  font-weight: 800;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.header-accent {
  color: var(--navyblue);
}
.header-nav-list-item-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus {
  color: var(--pressed-state);
}
.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-list-item-link {
  color: var(--body-text);
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
  color: var(--pressed-state);
}
/* Hero-styles */
.hero-section {
  background-color: var(--navyblue);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-container {
}
.hero-section-title {
  color: var(--bcg);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-section-btn {
  color: var(--bcg);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: Roboto, sans-serif;
  background-color: var(--brand-color);
  text-align: center;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;

  border: none;
  border-radius: 4px;
  min-width: 169px;
  min-height: 56px;
}
.hero-section-btn:hover,
.hero-section-btn:focus {
  background-color: var(--pressed-state);
}
/* Advantages-styles */
.advantages-section {
  background-color: var(--bcg);
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-section-list {
  display: flex;
  gap: 24px;
}
.advantages-section-list-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}
.advantages-section-list-item-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-section-list-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Offers-styles */
.offers-section {
  padding-bottom: 120px;
}

.offers-section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  width: 323px;
  margin: 0 auto;
  margin-bottom: 72px;
}
/* Team-styles */

.team-section {
  background-color: var(--footer-light);
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  width: 162px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-section-list-item {
  background-color: var(--bcg);
}
.team-section-list-img {
  margin-bottom: 32px;
}
.team-section-list-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-section-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* Footer-styles */
.footer {
  background-color: var(--navyblue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: var(--brand-color);
  font-size: 18px;
  font-weight: 800;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.footer-accent {
  color: var(--footer-light);
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-light);
  width: 264px;
}

/* Portfolio */
/* Section-styles */

.btn-list {
}
.btn-list-item {
}
.btn {
  background-color: var(--footer-light);
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}
.btn:hover,
.btn:focus {
  background-color: var(--pressed-state);
  color: var(--bcg);
}

.section-list-link-img {
}
.section-list-link-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-list-link-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--body-text);
}
